<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 


<!-- header -->
<div id="header"></div>

<body style="text-align: center;">
        <div id='status'> <%= status %></div>

        <marquee direction="left" scrollamount="10">
            <img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1092571024%2F0x0.jpg%3Ffit%3Dscale">
            </marquee>
    
</body>
<!-- footer -->
<div id="footer"></div>
</html>